<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello welcome to DS & ML Internship</h1>
    
    <form action="/submit" method="post">
        <input type="text" name="num1" placeholder="Enter 1st number"> <br><br>
        <input type="text" name="num2" placeholder="Enter 2nd number"> <br><br>

        <button type="submit">Submit</button>
    </form>

    <div>
        <img src="data:image/png;base64,{{chart}}" alt="Graph">
    </div>
</body>
</html>

